<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text= "Regresar"
        color= "primary"
        mode= "ios"
        >
      
      </ion-back-button>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>
<ion-content style="text-align:center !important;">
  
  <form class="example-form" #formUser="ngForm" color = "primary">
    <ion-row>
      <ion-col>
         <mat-form-field class="example-full-width" >
          <mat-label>Nombre</mat-label>
          <input type="text" #usuarioCount matInput name="usuario" [(ngModel)]="user.usuario" placeholder="Nombre" (keyup)="onKeyUp($event)"
          onkeypress="if(this.value.length==10) return false;"
          required>
          <mat-hint aling="end"> {{usuarioCount.value.lenght}} / 10 </mat-hint> 
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width" >
          <mat-label>Apellido</mat-label>
          <input type="text" #apellidoCount matInput name="apellido" [(ngModel)]="user.apellido" placeholder="Apellido" (keyup)="onKeyUpApellido($event)"
          onkeypress="if(this.value.length==10) return false;"
          required>
          <mat-hint aling="end"> {{apellidoCount.value.lenght}} / 10 </mat-hint> 
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width" >
          <mat-label>Correo</mat-label>
          <input type="email" #correoCount matInput name="email" [(ngModel)]="user.email" placeholder="Email" (keyup)="onKeyUpEmail($event)" 
          required>
          <mat-hint aling="end"></mat-hint> 
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input matInput placeholder="Password" matInput name="password" [(ngModel)]="user.password" required minlength="8" maxlength="20">
        </mat-form-field>
        <br>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Confirmar Password</mat-label>
          <input matInput placeholder="Password" matInput name="passwordConfirm" [(ngModel)]="user.passwordConfirm" required minlength="8" maxlength="20">
        </mat-form-field>
        <br>
        <br>
        <ion-button (click)="onSubmit(formUser)" color="tertiary">
          Submit
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>